

/* Default Theme- Theme 1 */

:root {
    /* Backgrounds */
   --color-page-bg: #{$main-bg1};
   --color-keypad-bg: #{$keypad-bg1};
   --color-toggle-bg: #{$toggle-bg1};
   --color-screen-bg: #{$screen-bg1};

   /* Keys */
   --color-delete-key-bg: #{$delete-key-bg1};
   --color-delete-shadow: #{$delete-key-shadow1};
   --color-reset-key-bg: #{$reset-key-bg1};
   --color-reset-shadow: #{$reset-key-shadow1}
   --color-equal-sign-bg: #{$equal-sign-bg1};
   --color-equal-sign-shadow: #{$equal-sign-shadow1};
   --color-number-key-bg: #{$number-key-bg1};
   --color-number-key-shadow: #{$number-key-shadow1};

   /* Text */
   --color-text-dark: #{$text-dark1};
   --color-text-white: #{$text-white1};
}

body.theme1 {
    /* Backgrounds */
    --color-page-bg: #{$main-bg1};
    --color-keypad-bg: #{$keypad-bg1};
    --color-toggle-bg: #{$toggle-bg1};
    --color-screen-bg: #{$screen-bg1};

    /* Keys */
    --color-delete-key-bg: #{$delete-key-bg1};
    --color-delete-shadow: #{$delete-key-shadow1};
    --color-reset-key-bg: #{$reset-key-bg1};
    --color-reset-shadow: #{$reset-key-shadow1} --color-equal-sign-bg: #{$equal-sign-bg1};
    --color-equal-sign-shadow: #{$equal-sign-shadow1};
    --color-number-key-bg: #{$number-key-bg1};
    --color-number-key-shadow: #{$number-key-shadow1};

    /* Text */
    --color-text-dark: #{$text-dark1};
    --color-text-white: #{$text-white1};
}

body.theme2 {
    /* Backgrounds */
    --color-page-bg: #{$main-bg2};
    --color-keypad-bg: #{$keypad-bg2};
    --color-toggle-bg: #{$toggle-bg2};
    --color-screen-bg: #{$screen-bg2};

    /* Keys */
    --color-delete-key-bg: #{$delete-key-bg2};
    --color-delete-shadow: #{$delete-key-shadow2};
    --color-reset-key-bg: #{$reset-key-bg2};
    --color-reset-shadow: #{$reset-key-shadow2} --color-equal-sign-bg: #{$equal-sign-bg2};
    --color-equal-sign-shadow: #{$equal-sign-shadow2};
    --color-number-key-bg: #{$number-key-bg2};
    --color-number-key-shadow: #{$number-key-shadow2};

    /* Text */
    --color-text-dark: #{$text-dark2};
    --color-text-white: #{$text-white2};
}


body.theme3 {
    /* Backgrounds */
    --color-page-bg: #{$main-bg3};
    --color-keypad-bg: #{$keypad-bg3};
    --color-toggle-bg: #{$toggle-bg3};
    --color-screen-bg: #{$screen-bg3};

    /* Keys */
    --color-delete-key-bg: #{$delete-key-bg3};
    --color-delete-shadow: #{$delete-key-shadow3};
    --color-reset-key-bg: #{$reset-key-bg3};
    --color-reset-shadow: #{$reset-key-shadow3} --color-equal-sign-bg: #{$equal-sign-bg3};
    --color-equal-sign-shadow: #{$equal-sign-shadow3};
    --color-number-key-bg: #{$number-key-bg3};
    --color-number-key-shadow: #{$number-key-shadow3};

    /* Text */
    --color-text-light: #{$text-light3};
    --color-text-dark: #{$text-dark3};
    --color-text-white: #{$text-white3};

}




body  {
    background-color: var(--color-page-bg);
    color: var(--color-text-white);
}