
/*Theme 1*/
$main-bg1: hsl(222, 26%, 31%);
$keypad-bg1: hsl(223, 31%, 20%); //keypad, toggle
$toggle-bg1: hsl(223, 31%, 20%);
$screen-bg1: hsl(224, 36%, 15%);
$screen-outline1: hsl(221, 10%, 51%);
$keypad-outline1: hsl(221, 10%, 51%);
$toggle-outline1: hsl(221, 10%, 51%);

/* Keys*/
$delete-key-bg1: hsl(225, 21%, 49%); //Del and Reset
$delete-key-shadow1: hsl(224, 28%, 35%);
$delete-key-hover1: hsl(225, 40%, 50%);
$reset-key-bg1: hsl(225, 21%, 49%); //Del and Reset
$reset-key-hover1: hsl(225, 40%, 50%);
$reset-key-shadow1: hsl(224, 28%, 35%); //Del and Reset
$equal-sign-bg1: hsl(6, 63%, 50%); //Evaluate =
$equal-sign-hover1: hsl(6, 80%, 50%);
$equal-sign-shadow1: hsl(6, 70%, 34%); //Evaluate =
$number-key-bg1: hsl(30, 25%, 89%); // Other keys
$number-key-hover1: hsl(30, 5%, 70%);
$number-key-shadow1: hsl(28, 16%, 65%); // Other keys
$toggle-switch-bg1: hsl(223, 31%, 20%);
$toggle-btn-bg1: hsl(6, 63%, 50%);

/* Text */
$text-dark1: hsl(221, 14%, 31%);
$text-white1: hsl(0, 0, 100%); //Reset and Del


//Theme 2
$main-bg2: hsl(0, 0%, 90%);
$keypad-bg2: hsl(0, 5%, 81%); //keypad, toggle
$toggle-bg2: hsl(0, 5%, 81%);
$screen-bg2: hsl(0, 0%, 93%); //screen
$screen-outline2: hsl(185, 58%, 25%);
$keypad-outline2: hsl(185, 58%, 25%);
$toggle-outline2: hsl(185, 58%, 25%);

/* Keys*/
$delete-key-bg2: hsl(185, 42%, 37%); //Del and Reset
$delete-key-hover2: hsl(185, 30%, 50%);
$delete-key-shadow2: hsl(185, 58%, 25%); //Del and Reset
$reset-key-bg2: hsl(185, 42%, 37%);
$reset-key-hover2: hsl(185, 30%, 50%);
$reset-key-shadow2: hsl(185, 58%, 25%);
$equal-sign-bg2: hsl(25, 98%, 40%); //Evaluate =
$equal-sign-hover2: hsl(25, 75%, 50%);
$equal-sign-shadow2: hsl(25, 99%, 27%); //Evaluate =
$number-key-bg2: hsl(45, 7%, 89%); // Other keys
$number-key-hover2: hsl(45, 3%, 73%);
$number-key-shadow2: hsl(35, 11%, 61%); // Other keys
$toggle-switch-bg2: hsl(0, 5%, 81%);
$toggle-btn-bg2: hsl(25, 98%, 40%);

/* Text */
$text-dark2: hsl(60, 10%, 19%);
$text-white2: hsl(0, 0, 100%); //Reset and Del


//Theme 3
$main-bg3: hsl(268, 75%, 9%);
$keypad-bg3: hsl(268, 71%, 12%); //keypad, toggle, screen 
$toggle-bg3: hsl(268, 71%, 12%);
$screen-bg3: hsl(268, 71%, 12%);
$screen-outline3: hsl(281, 89%, 26%);
$keypad-outline3: hsl(281, 89%, 26%);
$toggle-outline3: hsl(281, 89%, 26%);
/* Keys*/
$delete-key-bg3: hsl(281, 89%, 26%); //Del and Reset
$delete-key-hover3: hsl(281, 73%, 40%);
$delete-key-shadow3: hsl(285, 91%, 52%); //Del and Reset
$reset-key-bg3: hsl(281, 89%, 26%);
$reset-key-hover3: hsl(281, 73%, 40%);
$reset-key-shadow3: hsl(285, 91%, 52%);
$equal-sign-bg3: hsl(176, 100%, 44%); //Evaluate =
$equal-sign-hover3: hsl(176, 75%, 31%);
$equal-sign-shadow3: hsl(177, 92%, 70%); //Evaluate =
$number-key-bg3: hsl(268, 47%, 21%); // Other keys
$number-key-hover3: hsl(268, 35%, 33%);
$number-key-shadow3: hsl(290, 70%, 36%); // Other keys
$toggle-switch-bg3: hsl(268, 71%, 12%);
$toggle-btn-bg3: hsl(176, 100%, 44%);

/* Text */
$text-light3: hsl(52, 100%, 62%);
$text-white3: hsl(0, 0, 100%); //Reset and Del
$text-dark3: hsl(198, 20%, 13%);